/* Copyright 2024 Tecnativa - David Vidal
 * License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). */
// Full width kanban view for the weighing main screen
.o_kanban_view.o_weight_kanban {
    overflow: auto;
    border-top: 1px solid $border-color;
    .flex-basis-0 {
        flex-basis: auto !important;
    }
    .o_column_unfold {
        display: none !important;
    }
    .o_kanban_ungrouped {
        padding: 0px;
        --KanbanRecord-width: 100vw;
        .o_kanban_record {
            width: 100%;
            margin: 0px;
            border-right: 0px;
            border-top: 0px;
            overflow: hidden;
            .o_kanban_detail_ungrouped {
                padding-left: $o-horizontal-padding - $o-kanban-color-border-width -
                    $o-kanban-record-margin;
                > div {
                    display: grid;
                    align-items: center;
                }
                .o_weight_name {
                    overflow-wrap: break-word;
                }
            }
        }
    }
    .o_kanban_grouped {
        flex-flow: row wrap;
        min-height: 50%;
        .o_kanban_group {
            --KanbanGroup-width: 100vw;
            width: 100%;
            padding: 0;
            overflow: hidden;
            .o_kanban_header {
                height: 3.3em;
                padding-left: 10px;
                display: flex;
                flex-flow: row;
                border-bottom: 1px solid $o-brand-primary;
                .o_kanban_counter {
                    width: 100%;
                    margin-left: 1rem;
                    margin-bottom: initial;
                    .o_kanban_counter_progress {
                        width: 95%;
                        .progress-bar {
                            filter: opacity(0.7);
                        }
                    }
                    .o_kanban_counter_side {
                        width: initial;
                    }
                }
            }
            .o_kanban_config {
                display: none;
            }
            .o_kanban_header_title {
                .o_column_open {
                    font-size: 1.3rem;
                    font-weight: bold;
                }
                .o_column_title {
                    cursor: initial;
                }
                .toggle_kanban_fold {
                    cursor: pointer;
                }
            }
            &.o_column_folded {
                .o_kanban_header_title {
                    .o_column_title {
                        font-size: initial;
                        left: 20px;
                        top: initial;
                        transform: initial;
                        transform-origin: initial;
                    }
                }
            }
        }
    }
}
// Big input for the wizard
.o_input_weight {
    input {
        font-size: 3em;
        font-weight: bold;
        width: 90%;
    }
    .input-group-prepend,
    .input-group-append {
        font-size: 3em;
    }
}
// Weighing operation detail form
.weighing_detail_form {
    .o_form_renderer {
        padding: 0;
        .o_kanban_ghost {
            // Better, but it might lead to side effects?:
            display: none;
        }
    }
}
