.div_remote_device_selector {
    button {
        height: 100%;
        color: white;

        &:hover {
            background-color: rgba(0, 0, 0, 0.075);
            color: white;
        }
    }
}
